.blue{
    background-color: rgb(0, 110, 244);
}

[class*="col-"] {
    background-color: rgb(0, 110, 244);
    border: 1px solid white;
    color: white;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    height: 40px;
}

.nested [class*="col-"] {

    background-color: rgb(0, 227, 111);
    border: 1px solid rgb(0, 110, 244);

}

.nested{
    padding: 10px;
    height: auto;
}

.margin-top{
    margin-top: 20px;
}

.margin-bottom{
    margin-bottom: 10px;
}